html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 51px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__contacts,
.socials,
.socials__list,
.phone,
.phone__number,
nav,
.nav__list,
.header-bottom,
.categories-nav__item,
.cart-btn,
.wrapper,
.hero-slider__btn-wrap,
.hero-slider__btn,
.benefits-slider__btn,
.categories__list,
.cat__btn {
  display: flex;
  align-items: center;
}

section {
  margin-bottom: 100px;
}

header {
  font-family: "Proxima Nova Bold";
}

.header-top__wrap {
  border-bottom: 1px solid #000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--accent-color);
}

.socials__icon {
  fill: var(--main-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.phone__number {
  padding: 8px;
  gap: 5px;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.phone__icon {
  fill: none;
  stroke: var(--main-color);
  -o-transition: stroke var(--trans-duration) var(--timing-function);
  -moz-transition: stroke var(--trans-duration) var(--timing-function);
  -webkit-transition: stroke var(--trans-duration) var(--timing-function);
  transition: stroke var(--trans-duration) var(--timing-function);
}

.phone__number:hover .phone__icon,
.phone__number:focus .phone__icon {
  stroke: var(--accent-color);
}

.phone__number:hover,
.phone__number:focus {
  color: var(--accent-color);
}

.socials__title {
  margin-right: 5px;
}

.socials__item:not(:last-child) {
  margin-right: 5px;
}

.arrow__icon {
  fill: var(--main-color);
  stroke: var(--main-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.phone__number:hover .arrow__icon,
.phone__number:focus .arrow__icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.nav__item {
  text-transform: uppercase;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.nav__item:not(:last-child) {
  margin-right: 15px;
}

.nav__item--active {
  position: relative;
}

.nav__item--active::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__item:hover,
.nav__item:focus {
  color: var(--accent-color);
}

.header-bottom {
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.categories-nav {
  display: flex;
  gap: 15px;
}

.categories-nav__item .arrow__icon {
  margin-left: 3px;
}

.category__link {
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.category__link:hover,
.category__link:focus {
  color: var(--accent-color);
}

.category__link:hover .arrow__icon,
.category__link:focus .arrow__icon {
  fill: var(--accent-color);
}

.button--accent-color {
  border-radius: 3px;
  padding: 14px 46px;
  border: none;
  background-color: var(--accent-color);
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  color: var(--white-color);
  -o-transition: opacity var(--trans-duration) var(--timing-function);
  -moz-transition: opacity var(--trans-duration) var(--timing-function);
  -webkit-transition: opacity var(--trans-duration) var(--timing-function);
  transition: opacity var(--trans-duration) var(--timing-function);
}

.button--accent-color:hover,
.button--accent-color:focus {
  opacity: 0.8;
}

.cart-btn {
  gap: 5px;
  padding: 10px 30px;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.shopping-cart__icon {
  fill: inherit;
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.cart-btn:hover,
.cart-btn:focus {
  color: var(--accent-color);
}

.cart-btn:hover .shopping-cart__icon,
.cart-btn:focus .shopping-cart__icon {
  fill: var(--accent-color);
}

.hero {
  position: relative;
  margin-bottom: 100px;
  z-index: 10;
}

.hero-slider__img {
  width: 100%;
}

.hero-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 462px;
  position: absolute;
  top: 0;
  left: 51px;
  background-color: var(--white-color);
  border-left: 15px solid var(--accent-color);
  padding: 100px 75px;
  font-family: "Proxima Nova Bold";
}

.hero-slider__title {
  margin-bottom: 50px;
  font-size: 64px;
  line-height: 1;
}

.hero-slider__product-name {
  margin-bottom: 10px;
  font-size: 36px;
}

.hero-slider__text {
  margin-bottom: 30px;
  font-family: "Proxima Nova Regular";
  font-size: 36px;
  text-align: center;
}

.hero-slider .button--accent-color {
  margin-bottom: 50px;
}

.hero-slider .button--accent-color:hover,
.hero-slider .button--accent-color:focus {
  color: var(--white-color);
}

.hero-slider__counter {
  margin-bottom: 5px;
  font-size: 24px;
}

.hero-slider__current {
  font-size: 36px;
}

.hero-slider__btn-wrap {
  gap: 8px;
}

.hero-slider__btn {
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
  border-width: 1px;
  background-color: var(--white-color);
  transition: background-color var(--trans-duration) var(--timing-function);
}

.hero-slider__btn:hover,
.hero-slider__btn:focus {
  background-color: var(--main-color);
}

.hero-slider__btn:hover .arrow__icon,
.hero-slider__btn:focus .arrow__icon {
  fill: var(--white-color);
  stroke: var(--white-color);
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.title__text {
  position: relative;
  font-family: "Proxima Nova Bold";
  font-size: 48px;
}

.title__text::before {
  content: "";
  position: absolute;
  display: block;
  left: -4px;
  bottom: 5px;
  width: 20px;
  height: 50px;
  border-radius: 0px;
  background-color: var(--accent-color);
  z-index: -1;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  cursor: pointer;
}

.card__overlay {
  position: absolute;
  padding: 30px;
  transform: translateY(-105px);
  transition: transform var(--trans-duration) var(--timing-function);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(-100%);
}

.card__title {
  font-family: "Proxima Nova Bold";
  font-size: 36px;
  color: var(--white-color);
  position: relative;
  display: inline-block;
}

.card__text {
  margin-top: 15px;
  font-size: 18px;
  color: transparent;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.card:hover .card__text,
.card:focus .card__text {
  color: var(--white-color);
}

.card__title:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
}

.benefits__slider {
  position: relative;
}

.benefits-slider__btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 50%;
  border-width: 1px;
  border-color: var(--white-color);
  border-style: solid;
  background-color: transparent;
  fill: var(--white-color);
  stroke: var(--white-color);
  transition: background-color var(--trans-duration) var(--timing-function);
}

.benefits-slider__btn .arrow__icon {
  fill: var(--white-color);
  stroke: var(--white-color);
}

.benefits-slider__btn--left {
  left: 15px;
}

.benefits-slider__btn--right {
  right: 15px;
}

.benefits-slider__btn:hover,
.benefits-slider__btn:focus {
  background-color: var(--white-color);
}

.benefits-slider__btn:hover .arrow__icon,
.benefits-slider__btn:focus .arrow__icon {
  fill: var(--main-color);
  stroke: var(--main-color);
}

.categories__list {
  justify-content: space-around;
  margin-bottom: 87px;
}

.cat__btn {
  flex-direction: column;
  background-color: #fff;
  border: none;
  fill: var(--main-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.cat__img {
  margin-bottom: 10px;
}

.cat__name {
  position: relative;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  line-height: 1.25;
}

.cat__btn:hover,
.cat__btn:focus {
  fill: var(--accent-color);
}

.cat__btn .cat__name:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0;
  -o-transition: opacity var(--trans-duration) var(--timing-function);
  -moz-transition: opacity var(--trans-duration) var(--timing-function);
  -webkit-transition: opacity var(--trans-duration) var(--timing-function);
  transition: opacity var(--trans-duration) var(--timing-function);
}

.cat__btn:hover .cat__name:after,
.cat__btn:focus .cat__name:after {
  opacity: 1;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-list__item {
  margin-bottom: 50px;
}

.product {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
}

.product__title {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  transition-property: background-color, color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--timing-function);
}

.product:hover .product__title,
.product:focus .product__title {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.product__price--new {
  margin-right: 10px;
  color: var(--stock-color);
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.product__price--old {
  font-size: 18px;
  color: #bcbdbb;
  text-decoration: line-through;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.product:hover .product__price--new,
.product:hover .product__price--old,
.product:focus .product__price--new,
.product:focus .product__price--old {
  color: var(--white-color);
}

.product__flag {
  position: absolute;
  padding: 5px 15px;
  color: var(--white-color);
  font-size: 18px;
}

.product__flag--hit {
  top: 10px;
  background-color: var(--main-color);
}

.product__flag--promo {
  top: 50px;
  background-color: var(--stock-color);
}

.to-catalog-btn {
  display: inline-block;
}

.about-us__content,
.feedback__content {
  position: relative;
}

.about-us__img {
  margin-left: auto;
}

.furniture {
  position: absolute;
  top: 100px;
  width: 790px;
  background-color: var(--white-color);
  border-right: 15px solid var(--accent-color);
  padding: 50px 30px 50px 50px;
  font-family: "Proxima Nova Regular";
}

.article__title {
  font-family: "Proxima Nova Bold";
  color: var(--accent-color);
}

.furniture p:not(:last-child) {
  margin-bottom: 15px;
}

.feedback__form {
  position: absolute;
  top: 100px;
  right: 0;
  width: 514px;
  background-color: var(--white-color);
  border-left: 15px solid var(--accent-color);
  padding: 50px 50px 50px 30px;
  font-family: "Proxima Nova Regular";
}

.form__title {
  font-family: "Proxima Nova Bold";
  font-size: 36px;
  margin-bottom: 30px;
}

.feedback__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 100%;
  padding: 14px 15px;
  font-size: 18px;
  margin-bottom: 15px;
  border: 1px solid #1e2e36;
  border-radius: 3px;
}

.form__submit-btn {
  width: 100%;
  margin-bottom: 30px;
}

.feedback__phone {
  font-family: "Proxima Nova Bold";
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.feedback__phone:hover,
.feedback__phone:focus {
  color: var(--accent-color);
}

footer {
  display: flex;
  position: relative;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 50px;
}

.footer__sidebar {
  flex-grow: 1;
  background-color: var(--main-color);
  padding: 50px 50px 15px;
  color: var(--white-color);
}

.footer__nav-wriper {
  display: flex;
  gap: 87px;
}

.left-side__options {
  display: flex;
  gap: 55px;

  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
}

.footer__cat-item,
.footer__nav-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.footer__cat-item::before,
.footer__nav-item::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  bottom: 10px;
  width: 15px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer__cat-item:hover,
.footer__nav-item:hover,
.footer__cat-item:focus,
.footer__nav-item:focus {
  color: var(--accent-color);
}

.footer__icon {
  fill: var(--white-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.footer__map,
.footer__schedule {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.footer__map {
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.footer__phones {
  position: relative;
  margin-bottom: 30px;
}

.footer__phone-icon {
  position: absolute;
  left: -2px;
  fill: none;
  stroke: var(--white-color);
  -o-transition: stroke var(--trans-duration) var(--timing-function);
  -moz-transition: stroke var(--trans-duration) var(--timing-function);
  -webkit-transition: stroke var(--trans-duration) var(--timing-function);
  transition: stroke var(--trans-duration) var(--timing-function);
}

.footer__phone-num {
  display: block;
  width: 170px;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.footer__map:hover,
.footer__phone-num:hover,
.footer__map:focus,
.footer__phone-num:focus {
  color: var(--accent-color);
}

.footer__map:hover .footer__map-icon,
.footer__map:focus .footer__map-icon {
  fill: var(--accent-color);
}

.footer__phones:hover .footer__phone-icon,
.footer__phones:focus .footer__phone-icon {
  stroke: var(--accent-color);
}

.footer__socials-title {
  margin-bottom: 5px;
}

.footer__socials-list {
  display: flex;
  gap: 5px;
}

.footer__socials-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socials-icon {
  fill: var(--white-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.footer__socials-link:hover .footer__socials-icon,
.footer__socials-link:focus .footer__socials-icon {
  fill: var(--accent-color);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.2;
}

.footer__copyright,
.footer__made-of {
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  bottom: 15px;
}

.footer__made-of {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Cuprum Regular";
  -o-transition: color var(--trans-duration) var(--timing-function);
  -moz-transition: color var(--trans-duration) var(--timing-function);
  -webkit-transition: color var(--trans-duration) var(--timing-function);
  transition: color var(--trans-duration) var(--timing-function);
}

.footer__made-of:hover,
.footer__made-of:focus {
  color: var(--accent-color);
}

.up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--trans-duration) var(--timing-function);
  position: fixed;
  bottom: 480px;
  left: 36px;
  z-index: 5;
}

.up-btn:hover,
.up-btn:focus {
  background-color: var(--accent-color);
}

.arrow-up__icon {
  fill: var(--accent-color);
  -o-transition: fill var(--trans-duration) var(--timing-function);
  -moz-transition: fill var(--trans-duration) var(--timing-function);
  -webkit-transition: fill var(--trans-duration) var(--timing-function);
  transition: fill var(--trans-duration) var(--timing-function);
}

.up-btn:hover .arrow-up__icon,
.up-btn:focus .arrow-up__icon {
  fill: var(--white-color);
}
